<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!-- Enables or disables the cache -->
        <setting name="cacheEnabled" value="true"/>
        <!-- Sets the default statement timeout in milliseconds -->
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- Enables automatic mapping from database column names to Java property names -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Allows JDBC support for generated keys -->
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <!-- Continue going here -->

</configuration>
